[Unit]
Description=Coin Scan Rescanner
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/coinscan/
ExecStart=/home/coinscan/env/bin/python /home/coinscan/cmd.py rescanner

[Install]
WantedBy=multi-user.target