[Unit]
Description=Coin Scan Services
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/coinscan/
ExecStart=/home/coinscan/env/bin/python /home/coinscan/run_services.py

[Install]
WantedBy=multi-user.target