[Unit]
Description=Coin Scan Pull New
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/coinscan/
ExecStart=/home/coinscan/env/bin/python /home/coinscan/cmd.py pull_new

[Install]
WantedBy=multi-user.target