[Unit]
Description=Coin Scan Liquidity
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/coinscan/scanner
ExecStart=node /home/coinscan/scanner/scanner.js

[Install]
WantedBy=multi-user.target